<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="AppHarbor" connectionString="Server=354aa641-94f7-47c1-82e4-a2ea009c3d22.sqlserver.sequelizer.com;Database=db354aa64194f747c182e4a2ea009c3d22;User ID=vhvuhydbjypfajaj;Password=PPjaaG3wjcAapHoenddvv8sTkYNbKA423RKeRVKswBLqEhWUREa6sNbPvyXi32UR;"/>
    <add name="Local" connectionString="Data Source=GYSLAP031\SQL1;Initial Catalog=CarBluMon;Integrated Security=True"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>